.screen {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 50vh;
}

.screen-1 {
  background-color: pink;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-2 {
  background-color: lightblue;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 100px;
}

.start-button {
  margin: 30px;
  border: solid black 1px;
  padding: 5px 20px;
  border-radius: 50px;
}

.start-button:hover {
  background-color: rgba(0, 0, 139, 0.055);
}

.screen-3 {
  background-color: lightcoral;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
