.screen {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vh;
  pointer-events: none;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.screen-1 {
  z-index: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 30px;
}

.screen-2 {
  z-index: -1;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 100px;
}

.start-button {
  margin: 30px;
  border: solid black 1px;
  padding: 5px 20px;
  border-radius: 50px;
  pointer-events: none;
  z-index: 999;
}

.start-button:hover {
  background-color: rgba(0, 0, 0, 0.055);
}

.screen-3 {
  z-index: -3;
  pointer-events: none;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-4 {
  z-index: -5;
  pointer-events: none;
}
